

.c-img
{
     background-color: rgb(13, 163, 141);
}
.section_our_solution
{
    background-color: #000203;
    margin: 20px;
    margin-top: 50px;

  }

.our_solution_category {
    color: #1a72f7;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .our_solution_category .solution_cards_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
  }
  .solution_cards_box .solution_card {
    flex: 0 50%;
    background: rgb(127, 24, 230);
    box-shadow: 0 10px 10px 0 rgba(34, 57, 206, 0.2),
      0 2px 15px 0 rgba(20, 20, 214, 0.952);
    border-radius: 20px;
    margin: 10px;
    
    padding: 10px 15x;
    position:relative;
  
    z-index: 1;
    overflow: hidden;
    min-height: 460px;
    
    transition: 0.7s;
  }
  
  .solution_cards_box .solution_card:hover {
    background: aqua;
    padding: 10px;
    color: rgb(182, 18, 18);
    transform: scale(1.1);
    z-index: 9;
  }
  
  .solution_cards_box .solution_card:hover::before {
    background: rgb(19, 3, 3);
  }
  
  
  
  .solution_cards_box .solution_card:before {
    content: "";
    position: absolute;
    background: rgb(85 108 214 / 5%);
    width: 170px;
    height: 400px;
    z-index: -1;
    transform: rotate(42deg);
    right: -56px;
    top: -23px;
    border-radius: 35px;
  }
  
  .solution_cards_box .solution_card:hover .solu_description button {
    background: #fff !important;
    color: #309df0;
  }
  
  
 
  
  .solution_card .my-3 {
    font-size: 15px;
    
    color: #1a72f7;
  }
  
  .btnAdt
  {
    margin-left: 20%;
    inline-size: 1;
    
  }


  .solution_card .product_title
  {
      min-height: 90px;
  }